
* {
    
    padding: 0;
}

body {
    background: #fff;
    font-size: 100%;
    line-height: 162%;
}
.nav {
    /* height: 60px; */
    background-color: #000;
}

header {
    width: 1200px;
    margin: 12px auto 6px;
}

header .nav .header-right{
    display: inline-block;
    float: right;

    width: 250px;
    height: 60px;
    padding-top: 15px;
    line-height: 60px;
    box-sizing: border-box;
}
header .nav .se{
    float: left;
    border:0;
    background:transparent;
    color:#fff;
    line-height:30px;
    height:30px;
    width:160px;
    padding:0 5px;
}

header .nav .ico-img {
    float: left;
    width: 30px;
    height: 30px;
    background-attachment:fixed;
    background: url(../imge/ico.png) no-repeat;
    background-position: -104px 5px;
   
}

.head-photo{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
        
        float: right;
    }




section{
    width: 1200px;
    margin: 0px auto;
    background-color: pink;                            
}

.wrap .left{
    width: 940px;
    height: 740px;
    /* background-color: pink;                                           */
    float: left;
}

.h1 {
    height: 36px;
    line-height: 36px;
    margin-bottom: 15px;
    font-size: 150%;
    color: #000;
    border-bottom: 2px solid #e5e5e5;
}

a {
    text-decoration: none;
}

/* a:hover img{
    filter: alpha(Opacity=70);
    -moz-opacity:0.8;
    opacity: 0.4;
} */

.h1 a {
    display: inline-block;
    color: #000;
}

ul {
    list-style: none;
}

.left li {
    float: left;

    margin-right: 15px;
    margin-bottom: 20px;
    width: 220px;
    height: 324px;
    background-color: #87ceeb;
}

.left li:nth-child(4n) {
    margin-right: 0;
}

.left .img{
    display: block;
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.left .img img{
    width: 100%;
    height: auto;
}

.left .li-hv{
    cursor: pointer;
}

.left .bg1{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 22px;
    width: 100%;
    background-color: #000;
    opacity: 0.6;
}
.left .bz{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.2%;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    color: #fff;
    font-size: 85%;
}

.left  .play-hv {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
}

.li-hv:hover .play-hv{
    opacity: 0.6;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    transition: opacity 300ms linear 0s;
}

.left .sjbg{
    position: absolute;
    display: block;
    height: 70px;
    width: 70px;
}

.left .li-hv .text p{
    overflow: hidden;
}

.left .li-hv .text .name {
    line-height: 30px;
    height: 24px;
}

.wrap .right {
    width: 250px;
    height: 740px;
    
    /* background-color:aquamarine;                                                 */
    float: right;
}

.right li {
    display: block;
    margin-bottom: 12px;
}

.right li a {
    display: block;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.right li .qt {
    float: right;
    background-color: #999;
}

.right li .i4 {
    background-color: #000;
    color: #fff;
}



.nav > a {
    display: inline-block;
    text-decoration: none;
    padding:0 30px;
    height: 60px;
    line-height: 60px;
    font-size: 120%;
    color: white;
}

img, p, ul {
    margin: 0px;
    border: 0px;
    padding: 0
}
a:hover{
    background-color: #5f5f5f5f;
}

.clearfix {
    clear: both;
}
